# Exclude TypeScript source files
src/
tsconfig.json

# Exclude ESLint configuration
.eslintrc.js

# Lockfiles should not be in final package
yarn.lock

# Exclude CI configuration
.travis.yml
.editorconfig
